* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.espacioCubo {
    width: 200px;
    height: 200px;
    margin: 80px;
    perspective: 400px;
}

.cubo {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cubo.giroDelante {
    transform: translateZ(-100px) rotateY( 0deg);
}

.cubo.giroDerecha {
    transform: translateZ(-100px) rotateY( -90deg);
}

.cubo.giroAtras {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cubo.giroIzquierda {
    transform: translateZ(-100px) rotateY( 90deg);
}

.cubo.giroArriba {
    transform: translateZ(-100px) rotateX( -90deg);
}

.cubo.giroAbajo {
    transform: translateZ(-100px) rotateX( 90deg);
}

.cuboCaras {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.delante {
    background-image: url(Fotos/Mas.png);
    transform: rotateY( 0deg) translateZ(100px);
}

.derecha {
    background-image: url(Fotos/Kali.jpg);
    transform: rotateY( 90deg) translateZ(100px);
}

.atras {
    background-image: url(Fotos/Senna.jpg);
    transform: rotateY(180deg) translateZ(100px);
}

.izquierda {
    background-image: url(Fotos/Yupi.jpg);
    transform: rotateY(-90deg) translateZ(100px);
}

.arriba {
    background-image: url(Fotos/Sion_0.jpg);
    transform: rotateX( 90deg) translateZ(100px);
}

.abajo {
    background-image: url(Fotos/yasuo.jpg);
    transform: rotateX(-90deg) translateZ(100px);
}