* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.scene {
    width: 200px;
    height: 200px;
    margin: 80px;
    perspective: 400px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cube.show-front {
    transform: translateZ(-100px) rotateY( 0deg);
}

.cube.show-right {
    transform: translateZ(-100px) rotateY( -90deg);
}

.cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(-100px) rotateY( 90deg);
}

.cube.show-top {
    transform: translateZ(-100px) rotateX( -90deg);
}

.cube.show-bottom {
    transform: translateZ(-100px) rotateX( 90deg);
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cube__face--front {
    background-image: url(Fotos/Mas.png);
    transform: rotateY( 0deg) translateZ(100px);
}

.cube__face--right {
    background-image: url(Fotos/Kali.jpg);
    transform: rotateY( 90deg) translateZ(100px);
}

.cube__face--back {
    background-image: url(Fotos/Senna.jpg);
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
    background-image: url(Fotos/Yupi.jpg);
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
    background-image: url(Fotos/Sion_0.jpg);
    transform: rotateX( 90deg) translateZ(100px);
}

.cube__face--bottom {
    background-image: url(Fotos/yasuo.jpg);
    transform: rotateX(-90deg) translateZ(100px);
}