body {
    background-color: #676d7c;
}

.cabecera {
    background-color: #6c777a;
    color: #ffffff;
    padding: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.perfil {
    display: flex;
}

.profP {
    background-size: cover;
    background-position: center;
    padding: 16px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: white thin solid;
}

.usrN {
    align-self: center;
    margin-left: 0.5em;
    color: white;
}

.cuerpo {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1em;
}

.roles {
    border: 1px white solid;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    height: 20em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.topLan {
    grid-area: 1 / 1 / 2 / 2;
}

.midLan {
    grid-area: 1 / 3 / 2 / 4;
}

.jngLan {
    grid-area: 1 / 5 / 2 / 6;
}

.botLan {
    grid-area: 2 / 2 / 3 / 3;
}

.supLan {
    grid-area: 2 / 4 / 3 / 5;
}

.linea {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pj {
    display: flex;
    flex-direction: row;
}

.lineaImg,
.pjImg {
    background-size: cover;
    background-position: center;
    padding: 16px;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: white thin solid;
}

#top {
    background-image: url(Fotos/Top_icon.png);
}

#mid {
    background-image: url(Fotos/Middle_icon.png);
}

#jngl {
    background-image: url(Fotos/Jungle_icon.png);
}

#bot {
    background-image: url(Fotos/Bottom_icon.png);
}

#sup {
    background-image: url(Fotos/Support_icon.png);
}

.lineaNomb,
.pjNomb {
    color: white;
}

#personaj {
    margin-top: 0em;
    border: 1px white solid;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.linea,
.pj {
    cursor: pointer;
}

.linea:hover {
    transition: all 2s;
    transform: scale(1.1);
}

.menu li:hover {
    cursor: pointer;
}

.vidArea {}

@media only screen and (min-width: 768px) {}