/* Definimos el ancho y alineación por defecto. También se define un alto para comprobar que sticky funciona */
.componente{
	width: 80%;
	margin: 0 auto;
	min-height: 1000px;
}

/* En este caso se opta por la altura en rem para que se adapte al tamaño de fuente de los elementos de la clase menú */
.menu{
	border: 1px solid black;
	height: 6rem;
	border-radius: 1em;
}

/* Imagen centrada con la propiedad background */
#cabecera{
	background: lightblue url("../img/logo.png") no-repeat center right;
	background-size: contain;	
	position: sticky;
	top: 0px;
	left: 0px;
	margin-bottom: 0.5rem;
}

/* Texto posicionado verticalmente en el centro */
#cabecera h1{
	position: absolute;
	top: 50%;
	margin: 0;
	transform: translateY(-50%);
}

#cuerpo{
	border: 1px solid black;
	line-height: 2;
	text-indent: 2em;
	font-style: italic;
	text-align: justify;
}

#cuerpo::first-letter{
	font-size: 32px;
	font-weight: bold;
}

