
div.arriba{
    width: 50%;
    height: 5em;
    margin-bottom: -1em;	
    box-sizing: border-box;
    float: left;

    border: 1px solid blue;
}

p.titulo1 {
	font-family: Arial, Helvetica, sans-serif;
    color: #dbc963;
    margin-left: 2.5em;
}

 div.botones {
    padding-right: -3rem;
    padding-top: 1rem;
    margin-left: 30%;   
    text-align: center;
 
    border: 1px solid red;
}




div.botones1{
    padding-top: 0.5rem;
    margin-left: 1rem;   
    float: left;	
    border-radius: 8px;
    text-align: center;
    width: 20%;
    height: 1.5em;
    cursor: pointer;
}


div.botones1:hover{
    color: white;
    background-color: rgb(224, 175, 69);
}


div.fotoPrincipal{
    clear: both;
    border: 1px solid green;
    height: 20em;
    background: url(https://thumbs.gfycat.com/FelineThornyCardinal-small.gif);
}

div.intro{
    margin-top: 5em;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    word-wrap: break-word; 
     
    border: 1px solid red;
}

div.abajo{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    overflow: auto;
    font-size: 16px;
    padding: 0.5%;

    border: 1px solid mediumpurple;
}

div.abajo>div.cuadro{
    width: calc(25% - 1em);
    margin: 0.5em;
    float: left;
    box-sizing: border-box;
    text-align: left;

    border: 1px solid saddlebrown;
}


div.abajo>div.cuadro>img{
    width: 100%;
    height: 33%;
    margin: 0.5%;
}

div.botones2{
    color: white;
    background-color: rgb(224, 175, 69);

    padding: 0.5rem;
   
    width: 10em;	
    border-radius: 8px;
    text-align: center;
   
    height: 1.5em;
    cursor: pointer;
}


