.cajas {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.caja {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: transform 2s;
}

.caja:hover {
    transform: rotate(300grad) scale(0.5, 0.5);
    background-color: blue;
    animation: cambioCol 2s;
}

@keyframes cambioCol {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}