.principal {
    border: 0.1rem solid black;
    
    width: 100%;
    position: absolute;
            
    box-sizing: border-box;
    
    font-size: 16px;
    
    padding: 0.5em; 
}

.caja{ 
    width: calc(33% - 1em);
    height: 20em;
    margin: 0.5em;
    float: left;		
    box-sizing: border-box;
    border: 1px solid black;
}

div.principal > div.caja:nth-child(-n+9) {
    background-color: blue;
}

div.principal > div.caja:nth-child(-n+6) {
    background-color: green;
}

div.principal > div.caja:nth-child(-n+3) {
    background-color: white;
}


div.principal > div.caja:nth-child(2n) {
    background-color: white;
    color: white;
    border: none;
}

div.principal > div.caja:nth-child(4n) {
   display: none;
}



p{
    margin: 0;
}		