body {
    background-color: #676d7c;
    height: 100%;
}

.arriba {
    display: flex;
    position: relative;
    background-color: #6c777a;
    border: 1px solid black;
    height: 50px;
    padding-left: 0.5em;
}

.menu {
    align-self: center;
}

.menu>a:hover {
    cursor: pointer;
    color: white;
}

.perfil {
    position: absolute;
    top: 0px;
    right: 5px;
    display: flex;
}

.profP {
    background-size: cover;
    background-position: center;
    padding: 16px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: white thin solid;
}

.usrN {
    align-self: center;
    margin-left: 0.5em;
    color: white;
}

.cuerpo {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 10vh 1fr 10vh 1fr;
    grid-gap: 5px;
}

.cuerpo>div {
    border: white 1px solid;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rol {
    grid-area: 2 / 1 / 3 / 5;
}

.part {
    grid-area: 2 / 8 / 5 / 10;
}

.esta {
    grid-area: 4 / 1 / 4 / 5;
}