html,
body {
    background-color: #676d7c;
    height: 100%;
}

.pantalla {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    height: 100%;
}

.lateral {
    background-color: #232329;
    position: relative;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-right: 1em;
    align-items: center;
    border: solid thin lightgrey;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu>div {
    border: white 1px solid;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    align-self: center;
    justify-content: center;
    background-color: rgb(32, 33, 36);
    color: white;
    display: flex;
    width: 100%;
}

.perfil {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.profP {
    background-size: cover;
    background-position: center;
    padding: 16px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: white thin solid;
}

.usrN {
    align-self: center;
    margin-left: 0.5em;
    color: white;
}

.cuerpo {
    background-color: #232329;
    position: relative;
    padding-left: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 1em;
    border: solid thin lightgrey;
}

.lineas {
    background-size: cover;
    background-position: center;
    padding: 16px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: white thin solid;
}