
  .cont1{
    width: 50%;
    height: 5rem;
    background-color: #BBBBBB;
   
    display: flex;		 
    align-items: center;
    flex-wrap: wrap;
  }

  .cont2{
    width: 50%;
    height: 5rem;
    background-color: #5F9EA0;
   
    display: flex;		 
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .cont > div{
    background-color:#DEB887;
    
    width: calc(17%);
  
    margin: 0.7rem;		 
    text-align: center;		

  }

  .cont {
    align-items: baseline;	
    align-content: center;	
  }

  
  