html,
body {
    height: 99%;
}

body {
    background-image: url(Imagenes/retroFonfo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

#arcade {
    color: white;
    height: 100%;
    background-image: url(Imagenes/Pantalla.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

#instCoin {
    padding: 0;
    border: none;
    background: none;
    grid-area: 5/3/5/5;
    background-image: url(Imagenes/boton.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#instCoin:hover {
    cursor: pointer;
    background-image: url(Imagenes/boton1.jpg);
}

#instCoin:focus {
    outline: none;
}

#music {
    padding: 0;
    border: none;
    background: none;
    grid-row: 2/4;
    grid-column: 8/10;
    background-image: url(Imagenes/cassete.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#music:hover {
    cursor: pointer;
    background-image: url(Imagenes/cassete1.png);
}

#music:focus {
    outline: none;
}

#next {
    grid-row: 3/4;
    grid-column: 10/11;
}

#next:hover {
    cursor: pointer;
}

.pantalla {
    grid-area: 5/5/13/13;
    text-align: center;
    background-color: black;
}

#frm {
    background-color: black;
    overflow: hidden;
}

#menu {
    height: 100%;
}

#myCanvas {
    width: 100%;
    height: 100%;
}

#insrtC {
    text-align: center;
    font-family: 'Courier', monospace;
    font-weight: 800;
    line-height: 1.0;
    letter-spacing: -0.03em;
    transform: perspective(300px) scaleY(1.5) rotateX(-40deg);
    transform-style: preserve-3d;
    --layer-depth: 0.32em;
    width: 100%;
    height: 100%;
    /*animacion*/
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes spinner {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

#instruc {
    background-color: black;
    color: white;
    border: thick dotted white;
}