.cuadrado {
    height: 50px;
    width: 50px;
    border: black 1px solid;
    background-color: yellow;
    animation: girar 4s alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: 5;
}

@keyframes girar {
    0% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: yellow;
        transform: rotate(360deg);
    }
}

.cuadrado,
.btn {
    margin-left: 25px;
}

.btn {
    color: black;
    box-shadow: black 0px 0px 0px;
    transition: all 2s;
    transition-delay: 0.5s;
}

.btn:active {
    color: red;
    box-shadow: black 5px 5px 5px;
}

.btn:active .cuadrado {
    animation: girar;
    animation-play-state: paused;
}