#fot {
    height: 500px;
    width: 500px;
    animation: fotos 5s infinite, fotos-pausa 5s infinite;
    background: no-repeat;
    background-size: contain;
    background-image: url(Fotos/AhriDraven.jpg);
}

@keyframes fotos {
    0% {
        background-image: url(Fotos/AhriDraven.jpg);
    }
    25% {
        background-image: url(Fotos/Braum.jpg);
    }
    50% {
        background-image: url(Fotos/CaitlinDraven.jpg);
    }
    80% {
        background-image: url(Fotos/LuluDraven.jpg);
    }
    100% {
        background-image: url(Fotos/AhriDraven.jpg);
    }
}