#cuadradoM {
    background-color: greenyellow;
    height: 5em;
    width: 5em;
    position: absolute;
}

#cuadradoO {
    background-color: grey;
    height: 10em;
    width: 10em;
    position: absolute;
    top: 20em;
    right: 10em;
}