
  .cont{
    width: 600px;
    height: 18.75rem;
    background-color:#191970;
    border: 1px solid black;
    display: flex;		  
    flex-direction: row;
    align-items: flex-start;

    flex-wrap: wrap-reverse;	
  }
  
  .cont > div{
    background-color:#4682B4;
    border: 1px solid white;
    color: white;
    width: 6rem;
    padding: 0.7rem;
    margin: 0.7rem;
    text-align: center;
    line-height: 6rem;
  
    justify-content: space-between;
  }
  
 
  .cont > div:last-child{
    display: flex;	
    align-self: flex-start;
    justify-content: center;	 
  }
  